/*Variables*/
:root {
  /*Colors:*/
  --primary-color: #ffffff;
  --secondary-color: #222222;

  --primary-headline-color: #222222;
  --secondary-headline-color: #ffffff;

  --primary-background-color: #ffffff;
  --secondary-background-color: #fff7f1;

  --primary-orange: #e88025;
  --primary-blue: #487C84;
  --secondary-blue: #518a93; 
  --primary-yellow: #edc343;
  --secondary-yellow: #fef0c8;
  
  --primary-hover-color: #e27b5b; 

  /*fonts */
  --primary-font-family: 'tablet-gothic', sans-serif;
  --secondary-font-family: 'Barlow Semi Condensed', sans-serif;
}

*, html {
  scroll-behavior: smooth !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html {
  width: 100%;
  max-width: 100%;
  block-size: fit-content;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --swiper-navigation-color: #ffffff!important;
  --swiper-pagination-color:  #ffffff!important;
}

/* SCROLL BAR */

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
}


::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* HAMBURGER MENU */

.sidebar {
  height: 1000px;
  width: 100%;
  position: fixed;
  top: 103px;
  z-index: 1050;
  right: -100%;
  background-color: #222222;
  transition: transform .7s ease-in-out;
  -moz-transition: transform .7s ease-in-out;
  -ms-transition: transform .7s ease-in-out;
  -o-transition: transform .7s ease-in-out;
  transition: transform .7s ease-in-out;
}

.sidebar.active { 
  transition: transform .7s ease-in-out;
  -moz-transition: transform .7s ease-in-out;
  -ms-transition: transform .7s ease-in-out;
  -o-transition: transform .7s ease-in-out;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  z-index: 1050 !important;
  position: absolute;
}

.bar {
  display: block;
/*   height: 6px;
  width: 50px; */
/*   height: 5px;
  width: 50px; */
  height: 4px;
  width: 40px;
  background-color: #222222;
}

.bar-text {
  display: block;
  width: 50px;
/*   margin: auto; */
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  cursor: pointer;
  display: inline-block;
  width: auto;
  background: transparent;
  border: none;
  position: relative;
  padding: 10px 20px;
}

.nav-right {
  right: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
/*   box-shadow: 7px 7px 19px 0px rgba(0,0,0,0.50); */
}

.nav-right.visible-xs {
  z-index: 3;
}

.hidden-xs {
  display: none;
}

.middle {
  margin: 0 auto;
  transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s  ease-in-out;
}

.top {
  margin: 10px auto 0 auto;
}

.bottom {
  margin: 0 auto 10px auto;
}

.top-mobile {
  margin: 6px auto;
}

.top-small {
  margin: 0 auto;
}

.bottom-small {
  margin: 0 auto;
}

.bottom-mobile {
  margin: 6px auto;
}

.bar {
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -ms-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
}

.bar {
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -ms-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
}

.nav-right.visible-xs .active .bar {
  background-color: #222;
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -ms-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
}

.button.active .top, .button.active .top-mobile  {
  -webkit-transform: translateY(10px) rotateZ(45deg);
  -moz-transform: translateY(10px) rotateZ(45deg);
  -ms-transform: translateY(10px) rotateZ(45deg);
  -o-transform: translateY(10px) rotateZ(45deg);
  transform: translateY(10px) rotateZ(45deg);
  background-color: #ffffff;
}

.button.active .bottom, .button.active .bottom-mobile {
  -webkit-transform: translateY(-10px) rotateZ(-45deg);
  -moz-transform: translateY(-10px) rotateZ(-45deg);
  -ms-transform: translateY(-10px) rotateZ(-45deg);
  -o-transform: translateY(-10px) rotateZ(-45deg);
  transform: translateY(-10px) rotateZ(-45deg);
}

.button.active .middle {
  opacity: 0;
}

.move-to-left {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}

nav {
/*   padding-top: 30px; */
}

.sidebar-list {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 46px;
}

.sidebar-item {
  margin: 20px 0;
  opacity: 0;
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
  transform: translateY(-20px);
}

.sidebar-item:first-child {
  -webkit-transition: all .7s .6s ease-in-out;
  -moz-transition: all .7s .6s ease-in-out;
  -ms-transition: all .7s .6s ease-in-out;
  -o-transition: all .7s .6s ease-in-out;
  transition: all .7s .6s ease-in-out;
}

.sidebar-item:nth-child(2) {
  -webkit-transition: all .7s .6s ease-in-out;
  -moz-transition: all .7s .6s ease-in-out;
  -ms-transition: all .7s .6s ease-in-out;
  -o-transition: all .7s .6s ease-in-out;
  transition: all .7s .6s ease-in-out;
}

.sidebar-item:nth-child(3) {
  -webkit-transition: all .7s .6s ease-in-out;
  -moz-transition: all .7s .6s ease-in-out;
  -ms-transition: all .7s .6s ease-in-out;
  -o-transition: all .7s .6s ease-in-out;
  transition: all .7s .6s ease-in-out;
}

.sidebar-item:nth-child(4) {
  -webkit-transition: all .7s .6s ease-in-out;
  -moz-transition: all .7s .6s ease-in-out;
  -ms-transition: all .7s .6s ease-in-out;
  -o-transition: all .7s .6s ease-in-out;
  transition: all .7s .6s ease-in-out;
}

.sidebar-item:nth-child(5) {
  -webkit-transition: all .7s .6s ease-in-out;
  -moz-transition: all .7s .6s ease-in-out;
  -ms-transition: all .7s .6s ease-in-out;
  -o-transition: all .7s .6s ease-in-out;
  transition: all .7s .6s ease-in-out;
}

.sidebar-item:nth-child(6) {
  -webkit-transition: all .7s .6s ease-in-out;
  -moz-transition: all .7s .6s ease-in-out;
  -ms-transition: all .7s .6s ease-in-out;
  -o-transition: all .7s .6s ease-in-out;
  transition: all .7s .6s ease-in-out;
}

.sidebar-item:nth-child(7) {
  -webkit-transition: all .7s .6s ease-in-out;
  -moz-transition: all .7s .6s ease-in-out;
  -ms-transition: all .7s .6s ease-in-out;
  -o-transition: all .7s .6s ease-in-out;
  transition: all .7s .6s ease-in-out;
}

.sidebar-item:last-child {
  -webkit-transition: all .7s .8s ease-in-out;
  -moz-transition: all .7s .8s ease-in-out;
  -ms-transition: all .7s .8s ease-in-out;
  -o-transition: all .7s .8s ease-in-out;
  transition: all .7s .6s ease-in-out;
}

.sidebar-item.active {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}

.sidebar-anchor {
  color: #FFF;
  font-weight: 700;
  text-decoration: none;
  font-size: 1.6em;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 7px;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.sidebar-anchor:before {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  -ms-transition: all .7s ease-in-out;
  -o-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
}

.sidebar-anchor:hover:before {
  width: 100%;
}

.ua {
  position: absolute;
  bottom: 20px;
  left: 30px;
}

.underline {
  font-weight: 500;
  color: white;
  text-decoration: none;
  position: relative;
  box-sizing: border-box;
  padding: 10px 0;
  letter-spacing: .2rem;
  font-family: var(--primary-font-family)
}

.rbc-toolbar .rbc-toolbar-label {
  flex-grow: 1;
  padding: 0 10px;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  color: #222222;
}

.rbc-header {
  padding: 5px 1px;
}

.rbc-header + .rbc-header {
  font-weight: 500;
  color: #222222;
}

.rbc-event {
  height: 100%;
  padding: 5px;
}

.rbc-ellipsis, .rbc-event-label, .rbc-row-segment .rbc-event-content, .rbc-show-more {
  white-space: wrap;
  font-weight: 500;
  color: #222222;
}

.list-span {
  background-color: var(--primary-color);
  padding: 5px 10px;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  line-height: 35px;
}

.header-span {
  background-color: var(--secondary-color);
  padding: 2px 10px 5px 10px;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  line-height: 35px;
}

.list-span:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
  
@media (min-width:744px) and (max-width:1280px) {

  body, html {
  }

  .sidebar {
    height: 1000px;
    top: 112px;
  }

  .bar {
    display: block;
    height: 6px;
    width: 50px;
    background-color: #222222;
  }

  .top-mobile {
    margin: 8px auto;
  }

  .bottom-mobile {
    margin: 8px auto;
  }
  
  .button {
    padding: 10px 20px;
  }

  .button.active .top, .button.active .top-mobile  {
    -webkit-transform: translateY(14px) rotateZ(45deg);
    -moz-transform: translateY(14px) rotateZ(45deg);
    -ms-transform: translateY(14px) rotateZ(45deg);
    -o-transform: translateY(14px) rotateZ(45deg);
    transform: translateY(14px) rotateZ(45deg);
    background-color: #ffffff;
  }
  
  .button.active .bottom, .button.active .bottom-mobile {
    -webkit-transform: translateY(-14px) rotateZ(-45deg);
    -moz-transform: translateY(-14px) rotateZ(-45deg);
    -ms-transform: translateY(-14px) rotateZ(-45deg);
    -o-transform: translateY(-14px) rotateZ(-45deg);
    transform: translateY(-14px) rotateZ(-45deg);
  }
}